<div class="container">
  <div class="row">
    <div class="col">
      <form novalidate [formGroup]="cancelBookingForm" (ngSubmit)="onSubmit()">
        <fieldset>

          <div class="form-group">
            <label>Identyfikator rezerwacji do anulowania</label>
            <input type="text" class="form-control"
                   formControlName="bookingId">
          </div>

        </fieldset>
        <button type="submit" class="btn btn-primary">Anuluj</button>
      </form>
  </div>
</div>